*{
    margin: 0;
    padding: 0;

}

#contenedor{
    width: 1920px;
    height: 1018px;
    background: #d8d8d8;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header{
    width: 1005px;
    height: 120px;
    background: #424242;
    margin-left: 460px;
    margin-top: 20px;

}

#logo{
    width: 200px;
    height: 60px;
    background: #d8d8d8;
    margin-left: 30px;
    margin-top: 15px;
}

#amarillo{
    width: 40px;
    height: 40px;
    background: #d8d8d8;
    margin-left: 841px;
    margin-top: -55px;
    border-radius: 50%;
}

#verde{
    width: 40px;
    height: 40px;
    background: #d8d8d8;
    margin-left: 890px;
    margin-top: -40px;
    border-radius: 50%;
}

#rojo{
    width: 40px;
    height: 40px;
    background: #d8d8d8;
    margin-left: 939px;
    margin-top: -40px;
    border-radius: 50%;
}

#Nav1{
    width: 200px;
    height: 50px;
    background: #a4a4a4;
    margin-left: 460px;
    margin-top: 20px;
}

#Nav2{
    width: 200px;
    height: 50px;
    background: #a4a4a4;
    margin-left: 661px;
    margin-top: -50px;
}

#Nav3{
    width: 200px;
    height: 50px;
    background: #a4a4a4;
    margin-left: 862px;
    margin-top: -50px;
}

#Nav4{
    width: 200px;
    height: 50px;
    background: #a4a4a4;
    margin-left: 1063px;
    margin-top: -50px;
}

#Nav5{
    width: 200px;
    height: 50px;
    background: #a4a4a4;
    margin-left: 1264px;
    margin-top: -50px;
}

#s1{
    width: 329px;
    height: 91px;
    background: #a4a4a4;
    margin-left: 460px;
    margin-top: 45px;
}

#s2{
    width: 329px;
    height: 91px;
    background: #a4a4a4;
    margin-left: 798px;
    margin-top: -90px;
}

#s3{
    width: 329px;
    height: 91px;
    background: #a4a4a4;
    margin-left: 1136px;
    margin-top: -90px;
}

#s4{
    width: 1005px;
    height: 553px;
    background: #a4a4a4;
    margin-left: 460px;
    margin-top: 25px;
}

#s5{
    width: 600px;
    height: 553px;
    background: #424242;
    margin-left: 660px;
    margin-top: -553px;
}

#footer{
    width: 1005px;
    height: 21px;
    background: #424242;
    margin-left: 460px;
    margin-top: 0px; 
}